<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="Bootstrapper" Version="1.0.0.0" Manufacturer="" UpgradeCode="9685590e-5410-4b78-a2c5-6b41f8648a02">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <Chain>
      <PackageGroupRef Id="NetFx452Redist" />
      <MsiPackage SourceFile="$(var.AppInstaller.TargetPath)" />
    </Chain>

  </Bundle>
</Wix>
